.commentCard {
  background-color: #b0c4de; /* Darker shade of blue */
  border: 1px solid #4169e1; /* Darker shade of blue */
  border-radius: 16px;
  margin-bottom: 15px;
  padding: 20px;
  max-width: 800px; /* Set a max-width to keep it manageable on larger screens */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
}

.commentCard1 {
  background-color: #b0c4de; /* Darker shade of blue */
  border: 1px solid #4169e1; /* Darker shade of blue */
  border-radius: 16px;
  margin-bottom: 15px;
  padding: 20px;
  max-width: 800px; /* Set a max-width to keep it manageable on larger screens */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
}

.commentCard:hover, .commentCard1:hover {
  transform: scale(1.02);
  background-color: #6495ed; /* Darker shade of blue on hover */
  position: relative; /* Make sure the element doesn't affect others */
  z-index: 1; /* Raise above other content */
}

/* Other styles remain the same */


.commentUsername {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}

.commentText {
  color: #333;
  margin-top: 10px;
  font-size: 1em;
}

.customBadge {
  background: linear-gradient(45deg, #1e90ff, #00bfff);
  color: white;
  border-radius: 12px;
  padding: 5px 15px;
}

.cardHeader .card-subtitle {
  font-size: 0.9em;
  color: #063778;
}

.cardBody img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-top: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.formControl {
  border-radius: 12px;
  padding: 12px;
  background-color: #e6f7ff;
  border: 1px solid #b0e0e6;
}

/* Ensure buttons are accessible in terms of color contrast */
.btnPrimary {
  background: linear-gradient(45deg, #1e90ff, #4682b4);
  color: white; /* Check contrast ratio */
  transition: background-color 0.2s, box-shadow 0.2s;
}



.btnPrimary:hover {
  background: linear-gradient(45deg, #1c86ee, #4169e1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow on hover */
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadingSpinner .spinner-border {
  width: 3rem;
  height: 3rem;
}

.cardContainer {
  background-color: #f0f8ff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.cardTitle {
  color: #4682b4;
  font-weight: bold;
}

.cardSubtitle {
  color: #1e90ff;
}

.card {
  padding: 30px; /* Increased padding */
  
}

.card-header, .card-body {
  margin-bottom: 20px; /* Adjust spacing between elements */
}

/* Use media queries for responsive font sizes */
@media (max-width: 768px) {
  .commentUsername {
    font-size: 1em; /* Smaller font size on smaller screens */
  }
}




